#init img {
    width: 250;
    height: 153;
}

#video {
    width: 630px;
    height: 400px;
}


.redes img {
    height: 50px;
    width: 400px;
}

#img-one{
    transform: translate(-13%, 0%);
}


#height {
    height: 130px;

}

@media only screen and (max-width: 1280px) {
    #img-one{
        transform: translate(-5%, 0%);
    }
}


@media screen and (max-width: 600px) {
.expostores img{
    display: none;
}

    #img-one{
        width: 252px;
        height: 260px;
        transform: translate(0%, 0%);
    }
    .redes img {
        height: 50px;
        width: 200px;
    }

    #video {
        width: 250px;
        height: 250px;
    }


    #img{
        height:200px ;
        width: 250px;
    }
}